.zoomImg {
    transition: transform .2s; /* Animation */
}

.zoomImg:hover {
    transform: scale(1.2); / (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#lightModeBtn {
    display: none;
}